<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>hello</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
</head>
<body>
    hello{{first_name}}  ...{{last_name}}
    <form  id="e3"action="back" method="POST">
    <button  type="submit"> back </button>
</form>
<script>
    if(annyang) {
    // Let's define our first command. First the text we expect, and then the function it should call
    
    var commands = {
      
      
          'رجوع':function(){
            document.getElementById('e3').submit();
           
          }, 
      }
    };
    annyang.setLanguage('ar-JO');
    // Add our commands to annyang
    annyang.addCommands(commands);
  

    annyang.start({ autoRestart: true, continuous: true });

  
</script>
</body>
</html>